# requirements.txt

# --- Core Application ---
fastapi>=0.104.0
uvicorn[standard]
python-multipart

# --- Pydantic v2 and Settings ---
pydantic>=2.0
pydantic-settings

# --- Database ---
motor

# --- Security & Auth ---
python-dotenv
passlib[bcrypt]
python-jose[cryptography]

# --- AWS & Google Services ---
boto3
google-api-python-client
Pillow
exifread